<%= turbo_frame_tag current_user do %>
  <% if flash[:error].present? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= flash[:error] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <%= form_with(model: current_user, url: user_path(current_user), method: :put) do |form| %>
    <div class="d-flex justify-content-between">
      <div class="col-8">
        <p>Your booked URL is:</p>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3"><%= "#{root_url}requests/" %></span>
          <%= form.text_field :uuid, class: 'form-control', value: current_user.uuid %>
        </div>
      </div>
      <div>
        <%= link_to 'Cancel', root_path, class: 'btn btn-default btn-sm' %>
        <%= form.button class: 'btn btn-primary btn sm' do %>
          <span class="show-when-enabled">Save</span>
          <span class="show-when-disabled">Processing</span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>