<tr>
  <td><%= user_request.request_url %></td>
  <td><%= user_request.request_method %></td>
  <td><%= user_request.created_at %></td>
  <td>
    <%= link_to '#', data: { 'bs-toggle': 'modal', 'bs-target': "##{dom_id(user_request, 'modal')}" } do %>
      <i class="bi bi-info-square-fill"></i>
    <% end %>

    <div class="modal fade" id="<%= dom_id(user_request, 'modal') %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Request detail</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div>
              <span class="d-block fw-bold">URL</span>
              <span class="d-block"><%= user_request.request_url %></span>
            </div>
            <div>
              <span class="d-block fw-bold">Method</span>
              <span class="d-block"><%= user_request.request_method %></span>
            </div>
            <div>
              <span class="d-block fw-bold">Timestamp</span>
              <span class="d-block"><%= user_request.created_at %></span>
            </div>
            <div>
              <span class="d-block fw-bold">Request Header</span>
              <span class="d-block"><pre><%= user_request.request_header %></pre>
              </span>
            </div>
            <div>
              <span class="d-block fw-bold">Request Body</span>
              <% if user_request.request_body.present? %>
                <span class="d-block"><pre><%= user_request.request_body %></pre></span>
              <% else %>
                <span class="d-block">-</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>