<%= turbo_stream_from current_user, 'user_request' %>

<div class="card">
  <div class="card-header">
    Webhook information
  </div>
  <div class="card-body">
    <%= form_with(current_user) do %>
      <div>
        <p>Your booked URL is:</p>
        <%= form.text_field :uuid,  %>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3"><%= "#{root_url}requests/" %></span>
          <%= form.text_field :uuid, class: 'form-control', value: current_user.uuid %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr>
<div class="d-flex justify-content-end">
  <%= link_to 'Clear history', 
      dashboards_requests_path, 
      class: 'btn btn-sm btn-primary ml-auto',
      data: { turbo_method: :delete } %>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">URL</th>
      <th scope="col">Method</th>
      <th scope="col">Body</th>
      <th scope="col">Timestamp</th>
    </tr>
  </thead>
  <tbody id="user_requests" is="turbo-frame">
    <% @requests.each.with_index(1) do |req, index|  %>
      <%= render req %>
    <% end %>
  </tbody>
</table>