<%= turbo_stream_from current_user, 'user_request' %>

<div class="card">
  <div class="card-header">
    Webhook information
  </div>

  <div class="card-body">
    <%= turbo_frame_tag current_user do %>
      <div class="d-flex justify-content-between">
        <div>
          <p>Your booked URL is:</p>
          <%= "#{root_url}requests/#{current_user.uuid}" %>
        </div>
        
        <div>
          <%= link_to edit_user_path(current_user), class: 'btn btn-warning btn-sm' do %>
            Edit <i class="bi bi-pencil"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr>
<%= render 'clear_history_btn' %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">URL</th>
      <th scope="col">Method</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Info</th>
    </tr>
  </thead>

  <tbody id="user_requests" is="turbo-frame">
    <% @requests.each.with_index(1) do |req, index| %>
      <%= render req %>
    <% end %>
  </tbody>
</table>